body {
    margin:0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
}

/* NAV */
nav {
    background:#0a192f;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav button {
    margin:5px;
    padding:10px;
    border:none;
    background:#00c6ff;
    color:white;
    border-radius:5px;
}

/* SECTIONS */
.section {
    display:none;
    padding:20px;
}

.active {
    display:block;
}

/* INPUTS */
input {
    width:100%;
    padding:10px;
    margin:10px 0;
    border:none;
    border-radius:5px;
}

/* BUTTONS */
button {
    cursor:pointer;
}

/* CARDS */
.card {
    background: rgba(255,255,255,0.1);
    padding:15px;
    margin:10px 0;
    border-radius:10px;
}

/* PROFILE */
.profile {
    text-align:center;
    margin-top:20px;
}

.profile img {
    width:120px;
    height:120px;
    border-radius:50%;
    object-fit:cover;
}
